<footer class="footer primary-color shadow">
    <div class="container row">

        <div class="social">
            <a href="https://instagram.com/nerdie.dev">
                <em class="fab fa-instagram icon"></em>
            </a>
            <a href="https://twitter.com/nerdie_dev">
                <em class="fab fa-twitter icon"></em>
            </a>
            <a href="https://github.com/nerdiedev">
                <em class="fab fa-github icon"></em>
            </a>
            <a href="https://twitch.tv/1cadumagalhaes">
                <em class="fab fa-twitch icon"></em>
            </a>
        </div>
        <p class="copyright">
            made by <u><a href="">@1cadumagalhaes</a></u>
        </p>
    </div>
</footer>