<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Repositório para o meu blog de conteúdos técnicos">
    <meta name="author" content="1cadumagalhaes">

    <title>{{ page.title | default: site.title}}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/normalize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script>

    </script>
</head>