<nav class="navbar primary-color shadow row">
    <div class="container row">
        <span class="icon" onclick="responsiveNav()">
            <em class="fa fa-bars"></em>
        </span>
        <a href="/">
            <img src="/assets/img/n_logo.png" alt="nerdie.dev logo" height="30px" width="91.7px">
        </a>
        <div></div>
        <div class="nav row" id="topnav">
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <span id="dark-switch">
                <em class="fas fa-sun icons"></em>
                <label class="switch">
                    <input type="checkbox" name="dark-switch" onclick="darkMode()">
                    <span class="slider round"></span>
                </label>

                <em class="fas fa-moon icons"></em>
            </span>
        </div>
        <span class="closebtn icon" id="closebtn" onclick="responsiveNav()">
            <em class="fa fa-times"></em>
        </span>
    </div>
</nav>
</header>