@import 'colors.css';
@import './widgets/switch.css';
@import './widgets/footer.css';
@import './widgets/navbar.css';
@import './widgets/card.css';
@import 'code.css';

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu mono', 'Roboto', 'sans-serif';
    color: var(--text-on-body);
    background-color: var(--body-bg);
    line-height: 1.4;
    min-height: 100%;
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.column {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.banner {
    min-height: 200px;
    margin-top: -20px;
    padding: 60px 40px 20px;
}

.banner .column {
    align-items: flex-start;
    justify-content: flex-start;
}

.banner h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 10px 0 0;
}
.banner h2 {
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}

.dark-mode .banner {
    color: var(--dark-nav);
}

.banner .tags {
    margin-top: 15px;
    justify-content: flex-end !important;
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 80%;
        padding: 20px 0;
    }
    .banner .column {
        align-items: center;
        justify-content: center;
    }
}
