<!DOCTYPE html>
<html lang="pt-BR">

{%- include head.html -%}

<body>

    {% include header.html %}

    <section id="banner" class="primary-color light banner">
        <div class=" container column">
            <div class="row">
                <img src="/assets/img/logo_nobg.png" alt="" height="150px">
            </div>
            <h1>
                < nerdie.dev />
            </h1>
            <h2>Bem vindo ao meu blog!</h2>
        </div>
    </section>


    <main class="container">

        {{ content }}
    </main>

    {% include footer.html %}

    {% include scripts.html %}
</body>

</html>